.body-section{
    background-color:black;
    overflow-x:hidden;
    width:100vw;
    height:auto;
    padding:0px;
    font-family:Arial, Helvetica, sans-serif;
    color:whitesmoke;
    display:hidden;
}

.hero{
    background-image:url('../assets/oil_painting.jpeg');
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    overflow:hidden;
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:100vw;
    height: 100vh;
    margin: 0%;
    border: 0%;
    padding: 0px;
}

.container{
    background-color:rgba(15, 16, 16, 0.6);
    height:auto;
    width:60vw;
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding:3vw;
    border-radius: 2vh;

}

u{
    color:whitesmoke;
}

a{
    color:whitesmoke;
}

.wrapper{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(15vw, auto);
    overflow:hidden;
    justify-content:center,baseline;
    width:100vw;
    height:12vh;
    padding:5rem;

}

.heading-section{
    display:grid;
    overflow:hidden;
    letter-spacing: 0.05rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(5vw, auto);
    justify-content:center, top;
    width:100vw;
    height:auto;
    padding-top:1rem;
    padding-left:2rem;
    padding-right:2rem;
    padding-bottom:1rem;

}

.essay-section{
    margin:auto;
    width:70vw;
    padding-top:2rem;
    padding-left:0rem;
    display:flex;
    flex-direction:column;
    justify-content:center,left;

}

.image_in_essay{
    width:50vw;
    height:auto;
}

p{
    line-height:2rem
}

.global-section{
    padding:3rem;
}


table{
    width:100%;
}

th, td{
    padding:2rem;
}

@media screen and (max-width: 600px) {
    .heading-section {
        font-size: 0.8rem;
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .item-1{
        grid-column:1/1;
        grid-row:1/1;
    }
    .itme-2{
        grid-column: 2/2;
        grid-row:1/1;
    }
    .item-3{
        grid-column: 3/3;
        grid-row: 1/1;
    }
    .item-4{
        grid-column: 1/1;
        grid-row:2/2;
    }
    .item-5{
        grid-column: 2/2;
        grid-row: 2/2;
    }
    .item-6{
        grid-column: 3/3;
        grid-row: 2/2;
    }
    .item-7{
        grid-column: 1/3;
        grid-row:3/3;
    }
  }

@media screen and (max-width: 600px) {
    .hero{
        background-position:center;
    }
    .wrapper {
        font-size: 1rem;
        letter-spacing:0.05rem;
        display: grid;
        align-items: center;
        height:auto;
        width: 100%;
        grid-template-columns: 1fr;
    }
    .item-1{
        grid-column:1/1;
        grid-row:1/1;
    }
    .itme-2{
        grid-column: 1/1;
        grid-row:2/2;
    }
    .item-3{
        grid-column: 1/1;
        grid-row: 3/3;
    }
    .item-4{
        grid-column: 1/1;
        grid-row:4/4;
    }
    .item-5{
        grid-column: 1/1;
        grid-row: 5/5;
    }
    .item-6{
        grid-column: 1/1;
        grid-row: 6/6;
    }
    .item-7{
        grid-column: 1/1;
        grid-row: 7/7;
    }
}

* {
    box-sizing: border-box;
}